<div class="container">		

<h1 class="shining">{{title}}</h1>


	<form method="POST" action="/item/">
		{{#each items}}
			<ul>{{#unless checked}}
				<li><input type="checkbox" name="checkBox" value="{{name}}" id="{{slug}}">{{this.quantity}} -x- {{this.name}}</li>
		{{/unless}}

		{{#if checked}}
				<li><del>{{this.quantity}} -x- {{this.name}}</del></li>
		{{/if}}

				<input type="hidden" name="slug" value="{{slug}}">
		</ul>
		{{/each}}	
		
				<input class="shake" type="submit" value="Update List">
	</form>

	<form method="POST" action="">
		<input type="text" name="quantity" class="quantity"> -x- <input type="text" name="name"><input type="hidden" name="slug" value={{slug}}>
		<input class="shake" type="submit" value="Add to List">
	</form>

<div class="linkStyles"><a href="/list">All Lists</a>|<a href="/list/create">Create a New List</a></div>	

</div>